@import '../../../assets/scss/common/var';

#user-home {
    .font-weight-400 {
        font-weight: 400;
    }

    #carousel-home {

        button.carousel-control-next,
        button.carousel-control-prev {
            width: fit-content;
            margin: 0 2rem;
        }

        h5 {
            color: white;
        }
    }

    #search {
        cursor: pointer;

        .input-group {
            height: 45px;
        }

        input.form-control {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        button.border-0.btn.btn-primary {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background-color: $primary;
        }

        input::placeholder {
            font-weight: 500;
        }
    }

    #hot-tour {
        .img-fluid {
            height: 260px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: rgba(117, 117, 117, 0.5);
        }

        .project-item {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 45px rgba(0, 0, 0, .07);
        }

        .project-item .project-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, .5);
            opacity: 0;
            padding-top: 60px;
            transition: .5s;
        }

        .project-item:hover .project-overlay {
            opacity: 1;
            padding-top: 0;
        }

        .project-carousel .owl-nav {
            position: absolute;
            top: -100px;
            right: 0;
            display: flex;
        }

        .project-carousel .owl-nav .owl-prev,
        .project-carousel .owl-nav .owl-next {
            margin-left: 15px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
            border-radius: 55px;
            box-shadow: 0 0 45px rgba(0, 0, 0, .15);
            font-size: 25px;
            transition: .5s;
        }

        .project-carousel .owl-nav .owl-prev:hover,
        .project-carousel .owl-nav .owl-next:hover {
            background: var(--primary);
            color: #FFFFFF;
        }
    }

    #travel-guide {
        .service-item.position-relative.h-100 {
            cursor: pointer;
        }

        .service-item {
            .service-text {
                width: 100%;
                top: 0;
                left: 0;
                text-align: center;
                background: #FFFFFF;
                box-shadow: 0 0 45px rgba(0, 0, 0, .06);
                transition: .5s;

                h5 {
                    transition: .5s;
                }
            }

            &:hover {
                .service-text {
                    top: -1.5rem;

                    h5 {
                        color: $primary;
                    }
                }

                .service-btn {
                    bottom: -0.8rem;
                }
            }

            .service-btn {
                position: absolute;
                width: 80%;
                height: 3rem;
                left: 10%;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFFFFF;
                box-shadow: 0 0 45px rgba(0, 0, 0, .07);
                transition: .5s;
                z-index: 0;
            }
        }
    }

    #feature {
        .feature-row {
            box-shadow: 0 0 45px rgba(0, 0, 0, .08);
        }

        .feature-item {
            border-color: rgba(0, 0, 0, .03) !important;
        }
    }

    // 
    .project-item.mb-5 {
        cursor: pointer;
    }

    .text-color-carousel {
        color: $white;
        font-weight: 800;
    }

    //
    .good-price-icon {
        filter: invert(45%) sepia(53%) saturate(4908%) hue-rotate(336deg) brightness(88%) contrast(112%);
    }

    .secure-payment-icon {
        filter: invert(30%) sepia(89%) saturate(1324%) hue-rotate(118deg) brightness(91%) contrast(101%);
    }

    .free-consultation-icon {
        filter: invert(9%) sepia(90%) saturate(6496%) hue-rotate(299deg) brightness(76%) contrast(105%);
    }

    .reputable-brand-icon {
        filter: invert(77%) sepia(27%) saturate(3838%) hue-rotate(326deg) brightness(91%) contrast(94%);
    }
}