<div id="user-home">
	<!-- start: carousel -->
	<div id="carousel">
		<div id="carousel-home" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="0" class="active"
					aria-current="true"></button>
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="1"></button>
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="2000">
					<img width="1024" height="480" src="https://wallpaperaccess.com/full/201088.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h4 class="text-color-carousel text-uppercase">TOUR TẾT ÂM LỊCH 2024 - TẬN HƯỞNG TẾT NGUYÊN ĐÁN TẠI VỊNH HẠ LONG</h4>
						<p>Tết đi chơi, thảnh thơi khám phá</p>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img width="1024" height="480" src="https://wallpapercave.com/wp/wp7311917.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h4 class="text-color-carousel text-uppercase">Du lịch Đà Nẵng - Huế - Động Phong Nha 5N4Đ từ Sài Gòn 2024</h4>
						<p>Thành phố biển du lịch Đà Nẵng - nơi mà quý khách có thể cảm nhận được sự pha trộn giữa khí hậu miền Bắc, miền Nam</p>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img width="1024" height="480"
						src="https://images2.thanhnien.vn/528068263637045248/2023/4/4/hoi-an-1680591517857660432696.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h4 class="text-color-carousel text-uppercase">Du lịch Đà Nẵng - Bà Nà - Hội An từ Sài Gòn 2024</h4>
						<p>Trải nghiệm Show diễn “Ký Ức Hội An”, chương trình văn hóa nghệ thuật ngoài trời độc đáo, với sự tổng hòa tinh tế của âm nhạc</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel-home" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel-home" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!-- search -->
	<div id="search" class="pt-4">
		<div class="container w-50">
			<div class="input-group" @click="clickSearch">
				<input type="text" class="form-control" placeholder="Tìm kiếm thêm tour du lịch...">
				<button id="search-global-home" class="border-0" type="button" class="btn btn-primary"
					data-bs-toggle="modal" data-bs-target="#SearchGlobal">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- start: tour du lịch hot-->
	<div id="hot-tour">
		<div class="container-xxl pt-4">
			<div class="container">
				<div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp d-flex justify-content-center">
					<h3 class="mb-4">TOUR MỚI MỞ NĂM 2023</h3>
				</div>
				<div class="owl-carousel project-carousel wow fadeInUp">
					<swiper :modules="modules" :slides-per-view="3" :space-between="50" navigation
						:pagination="{ clickable: true }" @swiper="onSwiper" @slideChange="onSlideChange"
						:autoplay="autoplay">
						<swiper-slide v-for="i in 5">
							<div class="project-item mb-5">
								<div class="position-relative">
									<img class="img-fluid" src="/src/assets/images/dalat.jpg" alt="">
									<div class="project-overlay">
										<a class="btn btn-lg-square btn-light rounded-circle m-1"
											href="img/project-1.jpg" data-lightbox="project"><i
												class="fa fa-eye"></i></a>
									</div>
								</div>
								<div class="p-4">
									<a class="d-block h5">Du lịch vườn quốc gia Nam Cát Tiên</a>
									<span>“Check-in hồ bơi vô cực” giữa không gian núi rừng thoáng đãng, trong lành
										...</span>
								</div>
							</div>
						</swiper-slide>
					</swiper>
				</div>
			</div>
		</div>
	</div>
	<!-- start: cam nan du lich -->
	<div id="travel-guide">
		<div class="container-xxl py-4">
			<div class="container">
				<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
					<h3 class="mb-4">CẨM NANG DU LỊCH</h3>
				</div>
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 wow">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-5.png" alt="Icon">
								</div>
								<h5 class="mb-3">Bỏ Túi 7 Địa Điểm Du Lịch Ninh Bình Đẹp Nổi Tiếng</h5>
								<p class="mb-3">Địa điểm du lịch Ninh Bình nổi tiếng khi được nhắc đến người ta thường
									...</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-6.png" alt="Icon">
								</div>
								<h5 class="mb-3">Khám Phá 6 Nét Đẹp Văn Hóa Huế Đặc Trưng</h5>
								<p class="mb-3">Ai đã từng Du lịch Huế một lần đều thương nhớ khôn nguôi mảnh đất ...
								</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-7.png" alt="Icon">
								</div>
								<h5 class="mb-3">Top 5 Thức Quà Đặc Trưng Mùa Hè Hà Nội</h5>
								<p class="mb-3">Có vô vàn những món ngon mùa hè ưu ái ban tặng cho Hà Nội ...</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-8.png" alt="Icon">
								</div>
								<h5 class="mb-3">Tổng hợp 42 địa chỉ mua đặc sản Đà Lạt làm quà chất lượng</h5>
								<p class="mb-3">Bạn yêu Đà Lạt bởi cảnh đẹp thiên nhiên thơ mộng hay những món đặc ...
								</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-9.png" alt="Icon">
								</div>
								<h5 class="mb-3">Tổng hợp kinh nghiệm du lịch Hội An</h5>
								<p class="mb-3">Bạn muốn chọn Hội An làm điểm dừng chân cho chuyến nghỉ ngơi của mình
									...</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
								</div>
								<h5 class="mb-3">Tổng hợp kinh nghiệm du lịch Bà Nà Hills Đà Nẵng từ A – Z </h5>
								<p class="mb-3">Bạn đã từng một lần nghe tới Bà Nà Hill chưa? Bạn có biết tại ...</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Đọc thêm<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- start: tour du lịch hot-->
	<div id="hot-tour">
		<div class="container-xxl pt-4">
			<div class="container">
				<div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp d-flex justify-content-center">
					<h3 class="mb-4">ĐIỂM ĐẾN ĐANG HOT</h3>
				</div>
				<div class="owl-carousel project-carousel wow fadeInUp">
					<swiper :modules="modules" :slides-per-view="3" :space-between="50" navigation
						:pagination="{ clickable: true }" @swiper="onSwiper" @slideChange="onSlideChange"
						:autoplay="autoplay">
						<swiper-slide v-for="i in 7">
							<div class="project-item mb-5">
								<div class="position-relative">
									<img class="img-fluid" src="/src/assets/images/danang.jpg" alt="">
									<div class="project-overlay">
										<a class="btn btn-lg-square btn-light rounded-circle m-1"
											href="img/project-1.jpg" data-lightbox="project"><i
												class="fa fa-eye"></i></a>
									</div>
								</div>
								<div class="p-4">
									<a class="d-block h5">Du lịch tại Đà Nẵng - Khu du lịch Bà Nà</a>
									<span>Tham quan Bảo tàng tranh 3D Art In Paradise Đà Nẵng, du khách sẽ hoá thân
										...</span>
								</div>
							</div>
						</swiper-slide>
					</swiper>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Start -->
	<div id="feature">
		<div class="container-xxl py-4">
			<div class="container">
				<div class="row g-0 feature-row">
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
						<div class="feature-item border h-100 p-5">
							<div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
								<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
							</div>
							<h5 class="mb-3">Giá tốt - Nhiều ưu đãi</h5>
							<p class="mb-0">Ưu đãi và quà tặng hấp dẫn khi mua tour online</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
						<div class="feature-item border h-100 p-5">
							<div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
								<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
							</div>
							<h5 class="mb-3">Thanh toán an toàn</h5>
							<p class="mb-0">Được bảo mật bởi tổ chức một thành viên ThuanNC</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
						<div class="feature-item border h-100 p-5">
							<div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
								<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
							</div>
							<h5 class="mb-3">Tư vấn miễn phí</h5>
							<p class="mb-0">Hỗ trợ tư vấn online miễn phí</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
						<div class="feature-item border h-100 p-5">
							<div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
								<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
							</div>
							<h5 class="mb-3">Thương hiệu uy tín</h5>
							<p class="mb-0">Thương hiệu lữ hành hàng đầu Việt Nam</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>