<div id="user-home">
	<!-- start: carousel -->
	<div id="carousel">
		<div id="carousel-home" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="0" class="active"
					aria-current="true"></button>
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="1"></button>
				<button type="button" data-bs-target="#carousel-home" data-bs-slide-to="2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="2000">
					<img width="1024" height="480" src="https://wallpaperaccess.com/full/201088.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h5>First slide label</h5>
						<p>Some representative placeholder content for the first slide.</p>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img width="1024" height="480" src="https://wallpapercave.com/wp/wp7311917.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h5>Second slide label</h5>
						<p>Some representative placeholder content for the second slide.</p>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img width="1024" height="480"
						src="https://images2.thanhnien.vn/528068263637045248/2023/4/4/hoi-an-1680591517857660432696.jpg"
						class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h5>Third slide label</h5>
						<p>Some representative placeholder content for the third slide.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel-home" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel-home" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!-- start: tour du lịch hot-->
	<div id="hot-tour">
	</div>
	<!-- start: cam nan du lich -->
	<div id="travel-guide">
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
					<h1 class="display-5 mb-5 font-weight-400">CẨM NANG DU LỊCH</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-5.png" alt="Icon">
								</div>
								<h5 class="mb-3">Digital Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-6.png" alt="Icon">
								</div>
								<h5 class="mb-3">Internet Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-7.png" alt="Icon">
								</div>
								<h5 class="mb-3">Content Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-8.png" alt="Icon">
								</div>
								<h5 class="mb-3">Social Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-9.png" alt="Icon">
								</div>
								<h5 class="mb-3">B2B Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item position-relative h-100">
							<div class="service-text rounded p-5">
								<div class="btn-square bg-light rounded-circle mx-auto mb-4"
									style="width: 64px; height: 64px;">
									<img class="img-fluid" src="/src/assets/images/icon-10.png" alt="Icon">
								</div>
								<h5 class="mb-3">E-mail Marketing</h4>
									<p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
										diam
										stet</p>
							</div>
							<div class="service-btn rounded-0 rounded-bottom">
								<a class="text-primary fw-medium" href="">Read More<i
										class="bi bi-chevron-double-right ms-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>