<div id="error-404">
    <div class="error-page container">
        <div class="col-12">
            <div class="text-center">
                <img class="img-error" src="/src/assets/images/error-404.png" alt="Not Found" style="width: 40%;">
                <h2 class="error-title">Không tìm thấy</h2>
                <p class='fs-6 text-gray-600'>Vui lòng liên hệ với nhà phát triển hoặc thử lại sau.</p>
                <button @click="goHome" class="btn btn-outline-primary mt-2">Về trang chủ</button>
            </div>
        </div>
    </div>
</div>