@import '../../../assets/scss/common/var';

#user-tour-details {
    .background-image {
        background: url('@/assets/images/tourDetails.jpg');
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 480px;
        background-size: cover;
    }

    .breadcrumb-nav {
        position: absolute;
        bottom: 4rem;
    }

    h6 {
        font-weight: 600;
        line-height: 1.5;
        color: $dash-blue;
    }

    h5 {
        font-weight: 600;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .border-top {
        border-top: 1px solid #2d2d2d;
        padding: 10px 0px;
    }

    .none-border-top {
        padding: 10px 0px;

        button {
            font-weight: 600;
        }
    }

    .feature-item {
        &.rounded-25 {
            border-radius: 5px;
        }
    }

    .p-title {
        font-weight: 550;
        width: 45%;

        &.p-title-rating {
            color: $orange-price;
        }
    }

    span.vue-star-rating-rating-text {
        display: none;
    }

    .tour-content {
        table {

            th,
            td {
                text-align: center;
                vertical-align: middle;
                background-color: rgba(131, 173, 255, 0.1);
            }
        }
    }

    .team-item {
        position: relative;
        text-align: center;
        box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    }

    .team-item .team-social {
        position: absolute;
        padding: 0;
        top: 15px;
        left: 0;
        overflow: hidden;
    }

    .team-item .team-social li {
        list-style-type: none;
        margin-bottom: 10px;
        margin-left: -50px;
        opacity: 0;
        transition: .5s;
    }

    .team-item:hover .team-social li {
        margin-left: 15px;
        opacity: 1;
    }

    .team-item .team-social li .btn {
        background: #FFFFFF;
        color: var(--primary);
        border-radius: 40px;
        transition: .5s;
    }

    .team-item .team-social li .btn:hover {
        color: #FFFFFF;
        background: var(--primary);
    }

    .team-item .team-social li:nth-child(1) {
        transition-delay: .1s;
    }

    .team-item .team-social li:nth-child(2) {
        transition-delay: .2s;
    }

    .team-item .team-social li:nth-child(3) {
        transition-delay: .3s;
    }

    .team-item .team-social li:nth-child(4) {
        transition-delay: .4s;
    }

    .team-item .team-social li:nth-child(5) {
        transition-delay: .5s;
    }

    .group-5-date {

        .title-date {
            background-color: $primary;
            border-radius: 5px;
            font-weight: 500;
            color: $white;
            padding: 5px 10px;
        }

        .title-date-icon {
            font-weight: 500;
            font-size: 20px;
            color: $primary;
        }

        .col-11.m-0.p-0 {
            width: 96% !important;

            .content-date {
                padding: 10px;
                background-color: rgba(131, 173, 255, 0.1);
                border-radius: 5px;
            }
        }

        .col-1.m-0.p-0 {
            width: 4% !important;
            overflow: hidden;

            .content-date-icon {
                margin-left: 7.5px;
                border-left: 3px $primary dotted;
                height: 100%;
            }
        }
    }

    .list-comments {
        margin-top: 25px
    }

    .list-comments .box-actions {
        font-size: 12px;
        line-height: 26px;
        color: #cacaca
    }

    .list-comments .box-actions a {
        color: #126df4;
        display: inline-block;
        margin-right: 15px
    }

    .list-comments .box-actions a.js-like.active svg path {
        fill: #3b5999
    }

    .list-comments .box-actions span.icons {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
        top: -2px
    }

    .list-comments .box-actions span.icons svg {
        width: 12px;
        height: 12px
    }

    .list-comments .item-comments {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .list-comments .item-comments .user-info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 71px;
        flex: 0 0 71px;
        max-width: 71px
    }

    .list-comments .item-comments .user-info a.img {
        display: inline-block;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        overflow: hidden
    }

    .list-comments .item-comments .user-info a.img img {
        width: 100%;
        height: 100%;
        -o-object-position: center;
        object-position: center;
        -o-object-fit: contain;
        object-fit: contain
    }

    .list-comments .item-comments .user-comments {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        margin-left: 29px;
        margin-top: 15px
    }

    .list-comments .item-comments .user-comment-name {
        display: block;
        font-size: 15px;
        line-height: 18px;
        color: #333333;
        margin-bottom: 9px
    }

    .list-comments .item-comments p.user-comment-content {
        font-size: 15px;
        line-height: 26px;
        text-align: justify;
        color: #444444;
        margin-bottom: 5px
    }

    .list-comments .box-reply {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        background: #f1f1f1;
        border: 1px solid #f1f1f1;
        margin-top: 15px;
        padding: 15px
    }

    .list-comments .box-reply .user-info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
        flex: 0 0 25px;
        max-width: 25px
    }

    .list-comments .box-reply .user-info a.img {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden
    }

    .list-comments .box-reply .user-info a.img img {
        width: 100%;
        height: 100%;
        -o-object-position: center;
        object-position: center;
        -o-object-fit: contain;
        object-fit: contain
    }

    .list-comments .box-reply .user-comments {
        margin-top: 5px;
        margin-left: 12px
    }

    .list-comments .box-reply:before {
        top: -19px;
        left: 18px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: #ffffff;
        border-bottom-color: #f1f1f1;
        border-width: 9px;
        margin-left: -11px;
        z-index: 1
    }

    .list-comments .box-reply:after {
        top: -19px;
        left: 18px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: #ffffff;
        border-color: #ffffff;
        border-bottom-color: #f1f1f1;
        border-width: 8px;
        margin-left: -10px
    }

    .list-comments .form-block {
        margin-top: 20px;
        background: #e3e3e3;
        border-radius: 5px;
        padding: 15px;
        display: none
    }

    .list-comments .form-block .input-custom {
        width: 205px
    }

    .list-comments .form-block.active {
        display: inline-block;
        width: 100%
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .form-block .input-custom {
            width: 156px
        }

        .list-comments .form-block .input-custom {
            width: 125px
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .form-block .input-custom {
            width: 177px
        }

        .list-comments .form-block .input-custom {
            width: 145px
        }
    }

    @media screen and (max-width: 767px) {
        .form-block .user-avatar {
            position: absolute
        }

        .form-block .input-custom {
            float: left;
            width: 100%;
            margin-right: 0;
            padding-left: 53px
        }

        .list-comments .form-block .input-custom {
            float: left;
            width: 100%;
            margin-right: 0;
            padding-left: 53px
        }
    }

    .info-tour-position {
        position: fixed;
        z-index: 1032;
        right: 0;
        background-color: transparent;
    }

    .group-6-rating {
        .user-comment-name {}
    }
}