@import '../../../assets/scss/common/var';

#user-tour-details {
    .background-image {
        background: url('@/assets/images/tourDetails.jpg');
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 480px;
        background-size: cover;
    }

    .breadcrumb-nav {
        position: absolute;
        bottom: 4rem;
    }

    .feature-item {
        &.rounded-25 {
            border-radius: 5px;
        }

        h5 {
            font-weight: 600;
            color: $primary;
        }

        .p-title {
            font-weight: 550;
            width: 45%;
        }

        .border-top {
            border-top: 1px solid #2d2d2d;
            padding: 10px 0px;
        }
    }
}