<div id="user-tour-details">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Tên tour du lịch...</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Chi tiết tour du lịch</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Contact Start -->
	<div class="container-xxl py-4">
		<div class="container">
			<div class="row">
				<div class="col-8">Content</div>
				<div class="col-4">
					<div class="feature-item border rounded-25 pt-3 px-3">
						<h5 class="mb-3">Du lịch Đông Bắc Hà Nội - Hà Giang mùa Thu bay Vietnam Airlines từ
							Đà Nẵng 2023</h5>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title">Mã tour:&ensp;</p>
							<p class="p-0 m-0">TMO0232</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title">Thời gian:&ensp;</p>
							<p class="p-0 m-0">6 ngày 5 đêm</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title">Phương tiện:&ensp;</p>
							<p class="p-0 m-0">Xe du lịch, Máy bay </p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title">Điểm xuất phát:&ensp;</p>
							<p class="p-0 m-0">Đà Nẵng </p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title">Điểm đến:&ensp;</p>
							<p class="p-0 m-0">Hà Nội </p>
						</div>
					</div>
					<div class="feature-item border rounded-25 pt-3 px-3 mt-3">
						<h5 class="mb-3">Hỗ trợ khách hàng	</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact End -->
</div>