<div id="user-about">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Liên hệ với chúng tôi</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Liên hệ</li>
				</ol>
			</nav>
		</div>
	</div>

</div>