<div id="tour-admin">
    <!-- step -->
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <thuan-button @click="switchMode(1)" :disabled="btnUpdateTour.btnList" label=" Liệt kê tour"
                        class="bi bi-list-check" />
                </div>
                <div class="col-5 p-0">
                    <thuan-button @click="switchMode(2)" :disabled="btnUpdateTour.btnUpdate" label=" Thêm mới"
                        classBtn="btn-success" class="bi bi-plus-circle-fill" />
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-top: -5px;">
            <div id="processing-update-tour" class="row d-flex justify-content-center blur-background">
                <div class="col-md-9 d-flex justify-content-between">
                    <div class="card text-center m-0 step-tour-admin">
                        <h3 class="card-title m-0">1</h3>
                    </div>
                    <div class="card text-center m-0 custom-line-0">
                        <p class="custom-line m-0 p-0"></p>
                    </div>
                    <div id="step-tour-admin-2" class="card text-center m-0 step-tour-admin-disable">
                        <h3 class="card-title m-0">2</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6 d-flex justify-content-end">
                    <button @click="updateTourStep(1)" type="button" :disabled="btnUpdateTour.backDisable"
                        class="btn btn-danger">
                        <i class="bi bi-arrow-left"></i> Trở về
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button @click="updateTourStep(2)" type="button" :disabled="btnUpdateTour.nextDisable"
                        class="btn btn-primary bg-btn-primary-custom" id="btn-next-update">
                        Tiếp theo <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- list tour -->
    <div id="list-tour">
        <!-- search -->
        <div class="row mb-3 d-flex justify-content-between">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                        <p class="m-0">Hiển thị</p>
                    </div>
                    <div class="col-6">
                        <select class="form-select" aria-label="Default select example">
                            <option value="0" selected>8 tour du lịch</option>
                            <option value="1">16 tour du lịch</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm tour ...">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col-3" v-for="item in 8">
                <div class="project-item mb-4">
                    <div class="position-relative">
                        <img class="img-fluid" src="/src/assets/images/footer_img2.jpg" alt="">
                        <div class="project-overlay">
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" @click="seeDetails"
                                data-lightbox="project"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" @click="seeDetails"
                                data-lightbox="project"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </div>
                    <div class="px-4 py-3">
                        <a class="d-block h5" href="">DU LỊCH HÀ NỘI - NINH BÌNH - HẠ LONG - SAPA - LÀO CAI - PHÚ
                            THỌ</a>
                        <div class="block-desc">
                            <div class="row d-flex justify-content-start">
                                <div>
                                    <span class="p-600 m-0 p-0">Lịch trình:&ensp;</span>
                                    <span>6 ngày 5 đêm</span>
                                </div>
                                <div>
                                    <span class="p-600 m-0 p-0">Khởi hành:&ensp;</span>
                                    <span>16/11/2023</span>
                                </div>
                                <div>
                                    <span class="p-600 m-0 p-0">Phương tiện:&ensp;</span>
                                    <span>Vietnam Airlines</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pagination -->
        <div class="row">
            <b-pagination v-model="currentPage" :total-rows="rows" align="center" :per-page="perPage"></b-pagination>
        </div>
    </div>
    <!-- update tour -->
    <div id="update-tour" class="d-none">
        <div id="update-tour-tab-1">
            <div class="row">
                <div class="col-6">
                    <thuan-input v-model="tourData.title" type="text" label="Tên tour du lịch" :isRequired="true"
                        placeholder="Nhập tên tour du lịch ..." />
                </div>
                <div class="col-6">
                    <label class="label-multiple-select">Chọn loại tour<span class="text-danger ps-1"><i
                                class="bi bi-exclamation-circle"></i></span></label>
                    <VueMultiselect v-model="tourData.category_id" :options="dataList.categoriesList" :multiple="true"
                        :close-on-select="true" label="name" track-by="name">
                    </VueMultiselect>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="label-multiple-select">Chọn đối tượng<span class="text-danger ps-1"><i
                                class="bi bi-exclamation-circle"></i></span></label>
                    <VueMultiselect v-model="tourData.tourist_segment_id" :options="dataList.touristSegmentsList"
                        :multiple="true" :close-on-select="true" label="name" track-by="name">
                    </VueMultiselect>
                </div>
                <div class="col-6">
                    <thuan-select v-model="tourData.type_transportation_id" :options="dataList.typesTransportationList"
                        type="text" label="Chọn loại phương tiện" :isRequired="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <thuan-select v-model="tourData.from_province_id" :options="dataList.locationList" type="text"
                        label="Chọn nơi khởi hành" :isRequired="true" />
                </div>
                <div class="col-6">
                    <thuan-select v-model="tourData.to_province_id" :options="dataList.locationList" type="text"
                        label="Chọn nơi đến" :isRequired="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <thuan-input v-model="tourData.number_of_day" type="number" label="Thời gian" :isRequired="true"
                        placeholder="Nhập số ngày diễn ra tour du lịch ..." />
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="adult_ticket_price">Giá vé người lớn<span class="text-danger ps-1"><i
                                    class="bi bi-exclamation-circle"></i></span></label>
                        <input class="form-control" id="adult_ticket_price" type="text"
                            v-model="tourData. adult_ticket_price" maxlength="30" @change="formatMoneyInput"
                            placeholder="Người từ 12 tuổi trở lên ...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="child_ticket_price">Giá vé trẻ em<span class="text-danger ps-1"><i
                                    class="bi bi-exclamation-circle"></i></span></label>
                        <input class="form-control" id="child_ticket_price" type="text"
                            v-model="tourData.child_ticket_price" maxlength="30" @change="formatMoneyInput"
                            placeholder="Người từ 6 đến 12 tuổi ...">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="infant_ticket_price">Giá vé em bé<span class="text-danger ps-1"><i
                                    class="bi bi-exclamation-circle"></i></span></label>
                        <input class="form-control" id="infant_ticket_price" type="text"
                            v-model="tourData.infant_ticket_price" maxlength="30" @change="formatMoneyInput"
                            placeholder="Em bé dưới 2 tuổi ...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label class="label-multiple-select">Chọn dịch vụ kèm tour</label>
                    <!-- <VueMultiselect v-model="tourData.additional_services_id" :options="dataList.additionalServicesList"
                        :multiple="true" :close-on-select="true" label="name" track-by="name">
                    </VueMultiselect> -->
                    <VueMultiselect v-model="tourData.additional_services_id" :options="dataList.additionalServicesList"
                        :multiple="true" :close-on-select="true" label="name" track-by="name">
                        <template slot="option" slot-scope="{ option }">
                            <div>
                                <img :src="option.imageUrl" alt="Service Image"
                                    style="width: 30px; height: 30px; margin-right: 10px;" />
                                {{ option.name }} - {{ option.additionalInfo }}
                            </div>
                        </template>
                    </VueMultiselect>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label class="label-multiple-select">Hình ảnh</label>
                    <input type="file" id="tour-image" @change="addTourImg" multiple class="form-control" />
                    <div class="img-upload-list p-3 mt-2">
                        <p><i class="bi bi-images pe-2"></i>Danh sách hình ảnh đã upload</p>
                        <div class="row">
                            <div class="col-2" v-for="img in tourData.images" style="position: relative;">
                                <img :src="img.secure_url" class="rounded" width="150" height="120">
                                <p class="m-0 text-center mt-1 px-1" style="font-weight: 400;">{{img.original_filename}}
                                </p>
                                <button type="button" class="btn btn-danger btn-sm"
                                    @click="deleteTourImg(img.public_id)"
                                    style="position: absolute; top: 0.3rem; right: 1.5rem; opacity: 0.9;"><i
                                        class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <thuan-textarea v-model="tourData.itinerary_highlight" type="text" label="Điểm nhấn hành trình"
                        placeholder="Nhập đặt điểm nổi bậc của tour du lịch này ở đây ..." :rowsArea="5" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <thuan-textarea v-model="tourData.policy" type="text" label="Chính sách tour"
                        placeholder="Nhập chính sách tour du lịch này ở đây ..." :rowsArea="7" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <thuan-textarea v-model="tourData.note" type="text" label="Ghi chú"
                        placeholder="Nhập các thông tin cần chú ý ở đây ..." :rowsArea="5" />
                </div>
            </div>
        </div>
        <div id="update-tour-tab-2" class="d-none">
            <div class="row m-auto d-flex justify-content-between">
                <div class="col-2 left-sidebar-activity d-block text-center py-1">
                    <template v-for="i in +tourData.number_of_day" :key="i">
                        <div class="d-block w-100" @click="changeDayTour(i)"
                            :class="[i == 1 ? 'item-active' : 'item-not-active']">
                            <p class="m-0 text-center text-uppercase">Ngày</p>
                            <p class="m-0 text-center text-uppercase">{{i}}</p>
                        </div>
                    </template>
                </div>
                <div class="col-10 right-sidebar-activity">
                    <div class="title">
                        <h5 class="text-uppercase">Hoạt động của ngày thứ 1</h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <thuan-input v-model="tourDateData.title" type="text" label="Tiêu đề" :isRequired="true"
                                placeholder="Nhập tiêu đề của ngày du lịch này ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="label-multiple-select">Chọn địa điểm lưu trú<span class="text-danger ps-1"><i
                                        class="bi bi-exclamation-circle"></i></span></label>
                            <VueMultiselect v-model="tourDateData.hotel_spot_id" :options="dataList.hotelSpotsList"
                                :multiple="true" :close-on-select="true" label="name" track-by="name">
                            </VueMultiselect>
                        </div>
                        <div class="col-6">
                            <label class="label-multiple-select">Chọn địa điểm ăn uống<span class="text-danger ps-1"><i
                                        class="bi bi-exclamation-circle"></i></span></label>
                            <VueMultiselect v-model="tourDateData.food_spot_id" :options="dataList.foodSpotsList"
                                :multiple="true" :close-on-select="true" label="name" track-by="name">
                            </VueMultiselect>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label class="label-multiple-select">Nội dung<span class="text-danger ps-1"><i
                                        class="bi bi-exclamation-circle"></i></span></label>
                            <CKEditorCustom />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>