<div id="error-500">
    <div class="error-page container">
        <div class="col-12">
            <div class="text-center">
                <img class="img-error" src="/src/assets/images/error-500.png" alt="Not Found" style="width: 40%;">
                <h2 class="error-title">Lỗi hệ thống</h2>
                <p class='fs-6 text-gray-600'>Trang bạn muốn truy cập hiện tại không có sẵn, thử lại sau hoặc liên hệ
                    với nhà phát triển.</p>
                <a @click="goHome" class="btn btn-outline-primary mt-3">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>