$font-primary: 'Montserrat', sans-serif;
$dash-blue: darkblue;
$hot-pink: hotpink;
$black: #000000;
$dimgray: dimgray;
$white: #ffffff;
$crimson: crimson;
$gainsboro: gainsboro;
$grey_loading: #bdbdbd;
$primary: rgba(0, 114, 188, 1);