$font-primary: 'Poppins',Arial, sans-serif;
$dash-blue: darkblue;
$hot-pink: hotpink;
$black: #000000;
$dimgray: dimgray;
$white: #ffffff;
$crimson: crimson;
$gainsboro: gainsboro;
$grey_loading: #bdbdbd;
$font-primary: 'Poppins',Arial, sans-serif;
$primary: #7f72e4;