@import '_var';

body {

	background-color: $white;
	font-family: $font-primary;
	font-size: 15px;
	line-height: 1.8;
	font-weight: normal;

	a {
		transition: .3s all ease;

		&:hover,
		&:focus {
			text-decoration: none !important;
			outline: none !important;
			cursor: pointer;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5 {
		line-height: 1.5;
		font-weight: 500;
		font-family: $font-primary;
	}

	.img,
	.blog-img,
	.user-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	#header-stick {
		position: sticky;
		top: 0;
		background-color: $white;
		z-index: 1;
	}

	#gn-header {
		display: flex;
		border-bottom: 1px solid red;
		margin: 0px 10px 5px;
		padding-top: 5px
	}

	.header-error {
		background-color: $crimson;
		min-height: 34px;

		.fs-5 {
			color: $white;
			margin-bottom: 0px;
		}

		.btn-close-error {
			position: absolute;
			right: 5px;

			button {
				height: 33px;
				padding-top: 3px;

				span {
					color: $white;
				}
			}
		}
	}

	.loading {
		.loading-bg {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999999999;
			background-color: $grey_loading;
			opacity: 0.5;
		}

		img {
			position: fixed;
			top: calc(50% - 25px);
			left: calc(50% - 25px);
			width: 50px;
			height: 50px;
			z-index: 10000000000;
		}
	}

	ul {
		list-style-type: none;
	}
}