@import '../../../assets/scss/common/var';

#user-news {
    .background-image {
        background: url('@/assets/images/travel_news.jpg');
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 480px;
        background-size: cover;
    }

    .breadcrumb-nav {
        position: absolute;
        bottom: 4rem;
    }

    // 
    .bg-search-tour {
        background: #f2f2f2;
        border-radius: 10px;
    }

    // list tour
    .img-fluid {
        height: 260px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: rgba(117, 117, 117, 0.5);
    }

    .project-item {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    }

    .project-item .project-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        padding-top: 60px;
        transition: .5s;
    }

    .project-item:hover .project-overlay {
        opacity: 1;
        padding-top: 0;
    }

    .project-carousel .owl-nav {
        position: absolute;
        top: -100px;
        right: 0;
        display: flex;
    }

    .project-carousel .owl-nav .owl-prev,
    .project-carousel .owl-nav .owl-next {
        margin-left: 15px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary);
        border-radius: 55px;
        box-shadow: 0 0 45px rgba(0, 0, 0, .15);
        font-size: 25px;
        transition: .5s;
    }

    .project-carousel .owl-nav .owl-prev:hover,
    .project-carousel .owl-nav .owl-next:hover {
        background: var(--primary);
        color: #FFFFFF;
    }

    .block-desc {
        .p-600 {
            font-weight: 600;
        }

        h5 {
            color: white;
        }

        .block-price {
            background-color: $orange-price;
            border-radius: 10px;
            width: fit-content;
        }
    }

    // 
    .date-post,
    .view-post {
        font-size: 90%;
        color: rgb(118, 118, 118);
    }

    .project-item.mb-4 {
        cursor: pointer;
    }

    // 
    .project-item.mb-4 {
        height: 460px !important;
    }
}