<div id="dashboard2">
    <!-- total -->
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon">
                        <i class="bi bi-amd"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng tour đã mở</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalTours}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #43CD80;">
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tour đã triển khai</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalTourDeployed}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #EEB4B4;">
                        <i class="bi bi-person-hearts"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng khách hàng</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalCustomer}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #F4A460;">
                        <i class="bi bi-piggy-bank-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng doanh thu</h6>
                    <h6 class="font-extrabold mb-0">{{formatNumber(data.totalRevenue)}} ₫</h6>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- content -->
    <div class="row m-0">
        <!-- filter sidebar -->
        <div class="col-2 left-column">
            <div class="row">
                <div class="col-12 filter-area w-100">
                    <h6 class="text-uppercase">Chọn vùng miền</h6>
                    <div class="form-check">
                        <input @click="doSearch()" v-model="statisticalConditions.area" class="form-check-input"
                            type="radio" value="Miền Bắc" id="area1">
                        <label class="form-check-label" for="area1">
                            Miền Bắc
                        </label>
                    </div>
                    <div class="form-check">
                        <input @click="doSearch()" v-model="statisticalConditions.area" class="form-check-input"
                            type="radio" value="Miền Trung" id="area2">
                        <label class="form-check-label" for="area2">
                            Miền Trung
                        </label>
                    </div>
                    <div class="form-check">
                        <input @click="doSearch()" v-model="statisticalConditions.area" class="form-check-input"
                            type="radio" value="Miền Nam" id="area3">
                        <label class="form-check-label" for="area3">
                            Miền Nam
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 filter-province w-100">
                    <h6 class="text-uppercase">Chọn tỉnh, TP</h6>
                    <div class="form-check" v-for="item in selectOptions.provinceList" :key="item.id">
                        <input @click="doSearch()" v-model="statisticalConditions.province" class="form-check-input"
                            type="checkbox" :value="item.id" :id="'province_' + item.id">
                        <label class="form-check-label" :for="'province_' + item.id">
                            {{ item.name }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 filter-category w-100">
                    <h6 class="text-uppercase">Chọn loại tour</h6>
                    <div class="form-check" v-for="(item, index) in selectOptions.categoryList" :key="index">
                        <input @click="doSearch()" v-model="statisticalConditions.category" class="form-check-input"
                            type="checkbox" :value="item.id" :id="'category_' + item.id">
                        <label class="form-check-label" :for="'category_' + item.id">
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 filter-object w-100">
                    <h6 class="text-uppercase">Chọn đối tượng</h6>
                    <div class="form-check" v-for="(item, index) in selectOptions.segmentList" :key="index">
                        <input @click="doSearch()" v-model="statisticalConditions.segment" class="form-check-input"
                            type="checkbox" :value="item.id" :id="'segment_' + item.id">
                        <label class="form-check-label" :for="'segment_' + item.id">
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- content -->
        <div class="col-10 right-column">
            <!-- chart -->
            <div class="row">
                <div class="col-5">
                    <thuan-doughnut-chart />
                </div>
                <div class="col-7">
                    <h5 class="text-center text-uppercase">Thống kê chi tiết từng tour theo gian bắt đầu - thuộc tour đã
                        chọn
                    </h5>
                    <div class="row">
                        <div class="col-12 p-0 d-flex justify-content-start">
                            <div class="title-filter me-4">
                                <p class="m-0">Tổng: &emsp;<strong>0</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped mt-1 w-100" style="font-size: 0.7rem;">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center" scope="col">STT</th>
                                    <th class="align-middle" width="20%" scope="col">Tên tour</th>
                                    <th class="align-middle" scope="col">TG Khởi hành</th>
                                    <th class="align-middle" width="15%" scope="col">Miền</th>
                                    <th class="align-middle" scope="col">Nơi đến</th>
                                    <th class="align-middle" scope="col">Tổng SL khách</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(period, index) in periodData" :key="index">
                                    <th class="align-middle text-center" scope="row">{{index + 1}}</th>
                                    <td class="align-middle">{{period.title}}</td>
                                    <td class="align-middle">{{period.to_province_name}}</td>
                                    <td class="align-middle">{{period.area}}</td>
                                    <td class="align-middle">{{period.province_name}}</td>
                                    <td class="align-middle">{{period.total_number_customer}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- detail data -->
            <div class="row mt-2 mx-0">
                <div class="col-6 d-flex p-0">
                    <div class="radio-filter d-flex">
                        <div class="form-check me-4">
                            <input @click="doSearch()" v-model="statisticalConditions.hasTourist" value=" >= 0 "
                                class="form-check-input" type="radio" name="flexRadioDefault" id="hasTourist1">
                            <label class="form-check-label" for="hasTourist1">
                                <p class="m-0">Tất cả</p>
                            </label>
                        </div>
                        <div class="form-check me-4">
                            <input @click="doSearch()" v-model="statisticalConditions.hasTourist" value=" > 0 "
                                class="form-check-input" type="radio" name="flexRadioDefault" id="hasTourist2">
                            <label class="form-check-label" for="hasTourist2">
                                <p class="m-0">Có khách</p>
                            </label>
                        </div>
                        <div class="form-check me-4">
                            <input @click="doSearch()" v-model="statisticalConditions.hasTourist" value=" = 0 "
                                class="form-check-input" type="radio" name="flexRadioDefault" id="hasTourist3">
                            <label class="form-check-label" for="hasTourist3">
                                <p class="m-0">Không có khách</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0 d-flex justify-content-end">
                    <div class="title-filter me-4">
                        <p class="m-0">Sắp xếp</p>
                    </div>
                    <div class="radio-filter d-flex">
                        <div class="form-check me-4">
                            <input @click="doSearch()" v-model="statisticalConditions.order"
                                value=" tours.created_at desc " class="form-check-input" type="radio"
                                name="flexRadioDefault" id="order1">
                            <label class="form-check-label" for="order1">
                                <p class="m-0">Thời gian</p>
                            </label>
                        </div>
                        <div class="form-check me-4">
                            <input @click="doSearch()" v-model="statisticalConditions.order"
                                value=" total_number_customer desc " class="form-check-input" type="radio"
                                name="flexRadioDefault" id="order2">
                            <label class="form-check-label" for="order2">
                                <p class="m-0">Số lượng</p>
                            </label>
                        </div>
                    </div>
                </div>
                <table class="table table-striped mt-1" style="font-size: 0.7rem;">
                    <thead>
                        <tr>
                            <th class="align-middle text-center" scope="col">STT</th>
                            <th class="align-middle" scope="col">Mã tour</th>
                            <th class="align-middle" width="25%" scope="col">Tên tour</th>
                            <th class="align-middle" scope="col">Nơi khởi hành</th>
                            <th class="align-middle" scope="col">Nơi đến</th>
                            <th class="align-middle" scope="col">Tổng SL khách</th>
                            <th class="align-middle" scope="col">Thời gian tạo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(tour, index) in tourData" :key="index" @click="doSearch(tour.id)">
                            <th class="align-middle text-center" scope="row">{{index + 1}}</th>
                            <td class="align-middle">{{tour.id}}</td>
                            <td class="align-middle">{{tour.title}}</td>
                            <td class="align-middle">{{tour.from_province_name}}</td>
                            <td class="align-middle">{{tour.to_province_name}}</td>
                            <td class="align-middle">{{tour.total_number_customer}}</td>
                            <td class="align-middle">{{tour.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- pagination -->
                <!-- <div class="w-100 row m-0 p-0 d-flex justify-content-center">
                    <b-pagination v-model="statisticalConditions.page_number" :total-rows="totalRows" align="center"
                        :per-page="5"></b-pagination>
                </div> -->
            </div>
        </div>
    </div>
</div>