<div id="user-book-a-tour">
	<!-- start breadcrumb -->
	<div id="breadcrumb-tour-detail"
		class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Đặt tour du lịch</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-white" style="width: 31%;"><router-link
							class="nav-item nav-link text-white" to="/tour">
							Tour du lịch</router-link></li>
					<li class="breadcrumb-item text-white" style="width: 43%;"><router-link
							class="nav-item nav-link text-white" to="/tour-detail">
							Chi tiết tour du lịch</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Đặt tour</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- detail Start -->
	<div id="detail-tour" class="container-xxl py-4">
		<div class="container position-relative">
			<!-- price book a tour -->
			<div class="group-processing">
				<div class="row d-flex justify-content-between">
					<div id="nav-choose-service-book-tour" class="col-2 px-2 py-3 active">
						<h6 class="m-0 text-uppercase">1. Chọn Dịch Vụ</h6>
					</div>
					<div id="nav-input-info-book-tour" class="col-2 px-2 py-3">
						<h6 class="m-0 text-uppercase">2. Nhập thông tin</h6>
					</div>
					<div id="nav-payment-book-tour" class="col-2 px-2 py-3">
						<h6 class="m-0 text-uppercase">3. Thanh Toán</h6>
					</div>
					<div id="nav-confirm-book-tour" class="col-2 px-2 py-3">
						<h6 class="m-0 text-uppercase">4. Xác nhận</h6>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<!-- content -->
				<div class="col-8 tour-content">
					<div id="choose-service-book-tour" class="choose-service">
						<div class="quantity-customer">
							<div class="row d-flex align-items-center">
								<div class="col-5">
									<thuan-input type="number" :isRequired="true" label="Số lượng người lớn" />
								</div>
								<div class="col-7">
									<p class="m-0 p-0 pt-3">Người từ 12 tuổi trở lên và số lượng người đặt không được
										lớn
										hơn số chỗ còn lại của tour du lịch</p>
								</div>
							</div>
							<div class="row d-flex align-items-center">
								<div class="col-5">
									<thuan-input type="number" label="Số lượng trẻ em" />
								</div>
								<div class="col-7">
									<p class="m-0 p-0 pt-3">Người từ 6 đến 12 tuổi</p>
								</div>
							</div>
							<div class="row d-flex align-items-center">
								<div class="col-5">
									<thuan-input type="number" label="Số lượng em bé" />
								</div>
								<div class="col-7">
									<p class="m-0 p-0 pt-3">Em bé dưới 2 tuổi</p>
								</div>
							</div>
						</div>
						<div class="additional-service">
							<h5 class="py-2 text-uppercase">Dịch vụ cộng thêm</h5>
							<div class="additional-service-item">
								<div class="row">
									<div class="col-4">
										<img class="img-additional-service" src="/src/assets/images/add-service.jpeg"
											alt="">
									</div>
									<div class="col-8">
										<div class="row">
											<div class="col-7">
												<h6 class="text-uppercase">PHỤ THU PHÒNG ĐƠN</h6>
											</div>
											<div class="col-5 d-flex">
												<h6 class="text-uppercase pe-2">Giá: </h6>
												<h6 class="font-weight-600 h6-title-add-service">1.200.000</h6>
												<h6>đ/Khách</h6>
											</div>
										</div>
										<div class="row d-flex align-items-center mt-1">
											<div class="col-7 mt-4">
												<p>- Áp dụng cho khách ngủ 1 mình 1 phòng.</p>
											</div>
											<div class="col-5 d-flex">
												<thuan-input label="Chọn số lượng" type="number" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="btn-action mt-3">
							<div class="row d-flex justify-content-end">
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-danger" @click="onBack(2)">
										Trở về
									</button>
								</div>
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-primary bg-btn-primary-custom"
										@click="navBookATour(2)">
										Tiếp theo
									</button>
								</div>
							</div>
						</div>
					</div>
					<div id="input-info-book-tour" class="d-none">
						<template v-for="i in 2">
							<div class="input-info-group" v-if="i === 1">
								<h6 class="font-weight-600 pb-2">Nhập thông tin hành khách No.{{i}}</h6>
								<!-- first -->
								<div class="info-group">
									<div class="row">
										<div class="col-6">
											<thuan-input label="Họ và tên" :isRequired="true" />
										</div>
										<div class="col-6">
											<thuan-input label="Số điện thoại" :isRequired="true" />
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<thuan-input label="Email" :isRequired="true" />
										</div>
										<div class="col-6">
											<thuan-select label="Tỉnh/Thành phố" />
										</div>
									</div>
									<div class="ror">
										<div class="col-12">
											<thuan-input label="Địa chỉ" :isRequired="true" />
										</div>
									</div>
								</div>
							</div>
							<div class="input-info-group" v-else>
								<h6 class="font-weight-600 pb-2">Nhập thông tin hành khách No.{{i}}</h6>
								<!-- first -->
								<div class="info-group">
									<div class="row">
										<div class="col-6">
											<thuan-input label="Họ và tên" />
										</div>
										<div class="col-6">
											<thuan-input label="Số điện thoại" />
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<thuan-input label="Email" />
										</div>
										<div class="col-6">
											<thuan-select label="Tỉnh/Thành phố" />
										</div>
									</div>
									<div class="ror">
										<div class="col-12">
											<thuan-input label="Địa chỉ" />
										</div>
									</div>
								</div>
							</div>
						</template>
						<div class="btn-action mt-3">
							<div class="row d-flex justify-content-end">
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-danger" @click="onBack(3)">
										Trở về
									</button>
								</div>
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-primary bg-btn-primary-custom"
										@click="navBookATour(3)">
										Tiếp theo
									</button>
								</div>
							</div>
						</div>
					</div>
					<div id="payment-book-tour" class="d-none">
						<h6 class="font-weight-600 pb-2">Chọn phương thức thanh toán</h6>
						<div class="row payment-cash m-0 mb-3">
							<div class="form-check m-0 d-flex align-items-center">
								<input class="form-check-input me-2" type="radio" name="flexRadioDefault"
									id="paymentCash">
								<label class="form-check-label mt-1 font-weight-500" for="paymentCash">
									Thanh toán bằng tiền mặt (Tại quầy giao dịch số 48 Cao Thắng - TP.Đà Nẵng)
								</label>
							</div>
						</div>
						<div class="row credit-card m-0 mb-3">
							<div class="col-12 m-0 p-0">
								<div class="form-check m-0 d-flex align-items-center">
									<input class="form-check-input me-2" type="radio" name="flexRadioDefault"
										id="creditCard">
									<label class="form-check-label mt-1 font-weight-500" for="creditCard">
										Chuyển qua thẻ ATM hoặc Internet banking (Vui lòng chọn ngân hàng thanh toán)
									</label>
								</div>
							</div>
							<div class="col-12 m-0 px-0 py-3">
								<div class="row">
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;"
											src="/src/assets/images/vietcom_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;"
											src="/src/assets/images/techcom_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;"
											src="/src/assets/images/vietin_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/mb_logo.png">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/agri_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/acb_logo.png">
									</div>
									<!-- <div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/momo_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/agri_logo.jpg">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;"
											src="/src/assets/images/paypal_logo.png">
									</div>
									<div class="col-3 p-2 d-flex justify-content-center align-items-center">
										<img @click="clickImgBank" class="img rounded bank-img"
											style="width: 160px; height: 65px;" src="/src/assets/images/spay_logo.png">
									</div> -->
								</div>
							</div>
						</div>
						<div class="btn-action mt-3">
							<div class="row d-flex justify-content-end">
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-danger" @click="onBack(4)">
										Trở về
									</button>
								</div>
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-primary bg-btn-primary-custom"
										@click="navBookATour(4)">
										Tiếp theo
									</button>
								</div>
							</div>
						</div>
					</div>
					<div id="confirm-book-tour" class="d-none">
						<div class="content-confirm">
							<div class="title d-flex p-0 m-0">
								<h6 class="font-weight-600 pe-2 m-0">Tổng số tiền thanh toán:</h6>
								<h6 class="font-weight-600 m-0 p-0">
									<p class="p-0 m-0 p-price-sum">12.000.999<span>đ</span></p>
								</h6>
							</div>
							<div class="line"></div>
							<div class="info-customer">
								<h6 class="font-weight-600">Thông tin khách hàng</h6>
								<div class="row ps-4">
									<div class="flex">
										<i class="bi bi-person pe-2"></i>
										<p class="m-0">Họ tên: &emsp;</p><span class="font-weight-500">Nguyễn Công
											Thuận</span>
									</div>
									<div class="flex">
										<i class="bi bi-geo pe-2"></i>
										<p class="m-0">Địa chỉ: &emsp;</p><span class="font-weight-500">Điện Bàn - Quảng
											Nam</span>
									</div>
									<div class="flex">
										<i class="bi bi-envelope pe-2"></i>
										<p class="m-0">Email: &emsp;</p><span
											class="font-weight-500">congthuan701@gmail.com</span>
									</div>
									<div class="flex">
										<i class="bi bi-telephone-inbound pe-2"></i>
										<p class="m-0">Số điện thoại: &emsp;</p><span
											class="font-weight-500">0943203212</span>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="more-information">
								<h6 class="font-weight-600">Thông tin thêm về dịch vụ</h6>
								<div class="row ps-4">
									<div class="flex">
										<i class="bi bi-airplane pe-2"></i>
										<p class="m-0">Điểm đi: &emsp;</p><span class="font-weight-500">Thành phố Đà
											Nẵng</span>
									</div>
									<div class="flex">
										<i class="bi bi-calendar2-check pe-2"></i>
										<p class="m-0">Chương trình chi tiết xem tại: &emsp;</p><span
											class="link-color font-weight-500">Xem
											chi tiết tại đây ...</span>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="confirm-OTP-code">
								<div class="row w-100 p-0">
									<div class="col-12">
										<thuan-input label="Xác nhận mã OTP"
											placeholder="Mã OTP đã được gởi vào mail quý khách" :isRequired="true" />
									</div>
								</div>
								<div class="row">
									<p class="font-weight-500 m-0">- Sau khi thanh toán thành công, hóa đơn điện tử sẽ
										được
										tự động gởi qua Mail của
										quý khách</p>
									<p class="font-weight-500 m-0 mt-1">- Nhân viên công ty sẽ liên hệ quý khách để
										xác nhận
										nơi quý khách sẽ nhận vé
										trong vòng
										1 ngày làm việc.</p>
								</div>
							</div>
						</div>
						<div class="btn-action mt-3">
							<div class="row d-flex justify-content-end">
								<div class="col-2 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-danger" @click="onBack(5)">
										Trở về
									</button>
								</div>
								<div class="col-4 d-flex justify-content-end">
									<button type="button" class="text-white btn btn-primary bg-btn-primary-custom"
										@click="navBookATour(5)">
										Thanh toán và đặt tour
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info tour -->
				<div class="col-4" id="info-tour">
					<div class="feature-item border rounded-25 pt-3 px-3">
						<h6 class="mb-3 text-uppercase">Du lịch Đông Bắc Hà Nội - Hà Giang</h6>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-qr-code-scan pe-2"></i>Mã tour&ensp;</p>
							<p class="p-0 m-0">TMO0232</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-calendar2-check pe-2"></i>Ngày đi&ensp;</p>
							<p class="p-0 m-0">18/12/2023</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-calendar2-check pe-2"></i>Ngày về&ensp;</p>
							<p class="p-0 m-0">23/12/2023</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-alarm pe-2"></i>Thời gian&ensp;</p>
							<p class="p-0 m-0">6 ngày 5 đêm</p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-piggy-bank pe-2"></i></i>Giá người lớn&ensp;
							</p>
							<p class="p-0 m-0">0<span>đ</span> </p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-piggy-bank pe-2"></i></i>Giá trẻ em&ensp;</p>
							<p class="p-0 m-0">0<span>đ</span> </p>
						</div>
						<div class="d-flex border-top">
							<p class="m-0 p-0 p-title"><i class="bi bi-piggy-bank pe-2"></i></i>Giá em bé&ensp;</p>
							<p class="p-0 m-0">0<span>đ</span> </p>
						</div>
						<div class="d-flex border-top d-flex justify-content-center">
							<p class="m-0 p-0 p-title-sum"><i class="bi bi-coin pe-2"></i></i>TỔNG:&ensp;</p>
							<p class="p-0 m-0 p-price-sum">12.000.999<span>đ</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- button show modal -->
		<button id="showModalBankAccount" class="border-0 d-none" type="button" data-bs-toggle="modal"
			data-bs-target="#BankAccount">
		</button>
	</div>
	<!-- modal Enter bank account information for user page -->
	<div class="modal fade" id="BankAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nhập thông tin tài khoản ngân hàng của bạn</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<thuan-input type="text" label="Tên ngân hàng" :isDisabled="true" :isRequired="true" />
						</div>
						<div class="col-6">
							<thuan-input label="Số thẻ ATM" placeholder="Nhập số thẻ ATM ..." :isRequired="true" />
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<thuan-input type="password" label="Mã PIN tài khoản ATM"
								placeholder="Nhập mã pin tài khoản ATM" :isRequired="true" />
						</div>
						<div class="col-6">
							<thuan-input label="Số tiền thanh toán" :isDisabled="true" :isRequired="true" />
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<thuan-input type="text" label="Tên chủ thẻ" placeholder="Tên in trên thẻ không dấu"
								:isRequired="true" />
						</div>
						<div class="col-6">
							<thuan-input label="Email" placeholder="Nhập email đăng ký thẻ" :isRequired="true" />
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<thuan-input label="Số thẻ hết hạn" placeholder="Tháng và năm hết hạn" :isRequired="true" />
						</div>
						<div class="col-6">
							<thuan-input label="Nội dung thanh toán" placeholder="Nhập nội dung" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
					<button type="button" class="btn btn-primary bg-btn-primary-custom">Lưu & Tiếp theo</button>
				</div>
			</div>
		</div>
	</div>
</div>