<div id="dashboard">
    <!-- total -->
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon">
                        <i class="bi bi-amd"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng tour đã mở</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalTours}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #43CD80;">
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tour đã triển khai</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalTourDeployed}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #EEB4B4;">
                        <i class="bi bi-person-hearts"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng khách hàng</h6>
                    <h6 class="font-extrabold mb-0">{{data.countTotalCustomer}}</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #F4A460;">
                        <i class="bi bi-piggy-bank-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng doanh thu</h6>
                    <h6 class="font-extrabold mb-0">{{formatNumber(data.totalRevenue)}} ₫</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- filter -->
    <hr>
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="row mx-0">
                <div class="col-12 d-flex filter-category-tour">
                    <div class="title-filter me-4 pt-1">
                        <p class="m-0 ms-3">Chọn loại thời gian</p>
                    </div>
                    <div class="radio-filter d-flex">
                        <div class="form-check me-4 pt-1">
                            <input checked value="month" v-model="data.typeOfTime" class="form-check-input mt-1"
                                type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <p class="m-0">Tháng</p>
                            </label>
                        </div>
                        <div class="form-check me-4 pt-1">
                            <input value="quarter" v-model="data.typeOfTime" class="form-check-input" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <p class="m-0">Quý</p>
                            </label>
                        </div>
                        <div class="form-check me-4 pt-1">
                            <input value="year" v-model="data.typeOfTime" class="form-check-input" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault3" checked>
                            <label class="form-check-label" for="flexRadioDefault3">
                                <p class="m-0">Năm</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3 mt-2 m-0 p-0">
                    <thuan-button label=" Thống kê" class="bi bi-pie-chart-fill" />
                </div>
                <div class="col-3 mt-2 m-0 p-0">
                    <!-- <thuan-button classBtn="btn-success" label=" In báo cáo" class="bi bi-printer-fill" /> -->
                </div>
            </div>
            <!-- button action -->
        </div>
        <div class="col-6 d-flex justify-content-between">
            <div class="col-5">
                <thuan-input v-model="data.startTime" label="Thời gian bắt đầu" type="date" />
            </div>
            <div class="col-5">
                <thuan-input v-model="data.endTime" label="Thời gian kết thúc" type="date" />
            </div>
        </div>
    </div>
    <!-- chart -->
    <div class="row">
        <div class="col-8">
            <thuan-bar-chart></thuan-bar-chart>
        </div>
        <div class="col-4">
            <thuan-pie-chart :datasets="revenueByArea"></thuan-pie-chart>
        </div>
    </div>
    <!-- detail data -->
    <div class="row mt-2 mx-0">
        <div class="col-6 d-flex p-0">
            <div class="radio-filter d-flex">
                <div class="form-check me-4">
                    <input value="" v-model="data.category" class="form-check-input" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault11">
                    <label class="form-check-label" for="flexRadioDefault11">
                        <p class="m-0">Tất cả</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input value="2" v-model="data.category" class="form-check-input" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault12" checked>
                    <label class="form-check-label" for="flexRadioDefault12">
                        <p class="m-0">Tour dài ngày</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input value="1" v-model="data.category" class="form-check-input" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault13" checked>
                    <label class="form-check-label" for="flexRadioDefault13">
                        <p class="m-0">Tour ngắn ngày</p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-6 p-0 d-flex justify-content-end">
            <div class="title-filter me-4">
                <p class="m-0">Sắp xếp</p>
            </div>
            <div class="radio-filter d-flex">
                <div class="form-check me-4">
                    <input value="time" v-model="data.order" class="form-check-input" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault111">
                    <label class="form-check-label" for="flexRadioDefault111">
                        <p class="m-0">Theo thời gian</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input value="revenue" v-model="data.order" class="form-check-input" type="radio"
                        name="flexRadioDefault" id="flexRadioDefault112">
                    <label class="form-check-label" for="flexRadioDefault112">
                        <p class="m-0">Theo doanh thu</p>
                    </label>
                </div>
            </div>
        </div>
        <table class="table table-striped mt-1">
            <thead>
                <tr>
                    <th class="align-middle text-center" scope="col">STT</th>
                    <th class="align-middle" scope="col">Khách hàng</th>
                    <th class="align-middle" scope="col">SL tour bán</th>
                    <th class="align-middle" scope="col">Đơn giá</th>
                    <th class="align-middle" scope="col">Thời gian thanh toán</th>
                    <th class="align-middle" scope="col">Tiền hoàn trả</th>
                    <th class="align-middle text-center" scope="col">Doanh thu</th>
                    <th class="align-middle text-center" scope="col">Tháng</th>
                    <th class="align-middle text-center" scope="col">Quý</th>
                    <th class="align-middle text-center" scope="col">Năm</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(tour, index) in dataTable" :key="index">
                    <th class="align-middle text-center" scope="row">{{index + 1}}</th>
                    <td class="align-middle">{{tour.full_name}}</td>
                    <td class="align-middle">{{tour.quantity_sold}}</td>
                    <td class="align-middle">{{tour.adult_ticket_price}}</td>
                    <td class="align-middle">{{tour.formatted_payment_date}}</td>
                    <td class="align-middle">{{tour.refund_amount ?? 0}}</td>
                    <td class="align-middle">{{formatNumber(tour.total_amount)}} ₫</td>
                    <td class="align-middle">{{tour.months}}</td>
                    <td class="align-middle">{{tour.quarter}}</td>
                    <td class="align-middle">{{tour.years}}</td>
                </tr>
            </tbody>
        </table>
        <!-- pagination -->
        <!-- <div class="w-100 row m-0 p-0 d-flex justify-content-center">
            <b-pagination v-model="currentPage" :total-rows="rows" align="center" :per-page="perPage"></b-pagination>
        </div> -->
    </div>
</div>