<div id="dashboard">
    <!-- total -->
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon">
                        <i class="bi bi-amd"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng tour đã mở</h6>
                    <h6 class="font-extrabold mb-0">1.067</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #43CD80;">
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tour đã triển khai</h6>
                    <h6 class="font-extrabold mb-0">498</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #EEB4B4;">
                        <i class="bi bi-person-hearts"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng khách hàng</h6>
                    <h6 class="font-extrabold mb-0">3.607</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="stats-icon" style="background-color: #F4A460;">
                        <i class="bi bi-piggy-bank-fill"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="text-muted font-semibold">Tổng doanh thu</h6>
                    <h6 class="font-extrabold mb-0">18.943.324đ</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- filter -->
    <hr>
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="row mx-0">
                <div class="col-12 d-flex filter-category-tour">
                    <div class="title-filter me-4 pt-1">
                        <p class="m-0 ms-3">Chọn loại thời gian</p>
                    </div>
                    <div class="radio-filter d-flex">
                        <div class="form-check me-4 pt-1">
                            <input class="form-check-input mt-1" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <p class="m-0">Tháng</p>
                            </label>
                        </div>
                        <div class="form-check me-4 pt-1">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <p class="m-0">Quý</p>
                            </label>
                        </div>
                        <div class="form-check me-4 pt-1">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault3">
                                <p class="m-0">Năm</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3 mt-2 m-0 p-0">
                    <thuan-button label=" Thống kê" class="bi bi-pie-chart-fill" />
                </div>
            </div>
            <!-- button action -->
        </div>
        <div class="col-6 d-flex justify-content-between">
            <div class="col-5">
                <thuan-input label="Thời gian bắt đầu" type="date" />
            </div>
            <div class="col-5">
                <thuan-input label="Thời gian kết thúc" type="date" />
            </div>
        </div>
    </div>
    <!-- chart -->
    <div class="row">
        <div class="col-8">
            <thuan-bar-chart></thuan-bar-chart>
        </div>
        <div class="col-4">
            <thuan-pie-chart></thuan-pie-chart>
        </div>
    </div>
    <!-- detail data -->
    <div class="row mt-2 mx-0">
        <div class="col-6 d-flex p-0">
            <div class="radio-filter d-flex">
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <p class="m-0">Tất cả</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        <p class="m-0">Tour dài ngày</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault3">
                        <p class="m-0">Tour ngắn ngày</p>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-6 p-0 d-flex justify-content-end">
            <div class="title-filter me-4">
                <p class="m-0">Sắp xếp</p>
            </div>
            <div class="radio-filter d-flex">
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <p class="m-0">Theo thời gian</p>
                    </label>
                </div>
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        <p class="m-0">Theo doanh thu</p>
                    </label>
                </div>
            </div>
        </div>
        <table class="table table-striped mt-1">
            <thead>
                <tr>
                    <th class="align-middle text-center" scope="col">STT</th>
                    <th class="align-middle" scope="col">Khách hàng</th>
                    <th class="align-middle" scope="col">SL tour bán</th>
                    <th class="align-middle" scope="col">Đơn giá</th>
                    <th class="align-middle" scope="col">SL hoàn tour</th>
                    <th class="align-middle" scope="col">Tiền hoàn trả</th>
                    <th class="align-middle" scope="col">Thời gian thanh toán</th>
                    <th class="align-middle" scope="col">Loại tour</th>
                    <th class="align-middle text-center" scope="col">Doanh thu</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in 5">
                    <th class="align-middle text-center" scope="row">{{i}}</th>
                    <td class="align-middle">Mark</td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle">@mdo</td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle">@mdo</td>
                    <td class="align-middle">@mdo</td>
                    <td class="align-middle">Đang xử lý</td>
                    <td class="align-middle text-center">
                        xxx
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- pagination -->
        <div class="w-100 row m-0 p-0 d-flex justify-content-center">
            <b-pagination v-model="currentPage" :total-rows="rows" align="center" :per-page="perPage"></b-pagination>
        </div>
    </div>
</div>