@import '../../../assets/scss/common/var';

#user-news-details {
    .background-image {
        background: url('@/assets/images/tour_details.jpg');
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 480px;
        background-size: cover;
    }

    .breadcrumb-nav {
        position: absolute;
        bottom: 4rem;
    }

    // 
    .font-weight-600 {
        font-weight: 600;
    }

    .desc-news-detail {
        font-size: 95%;
    }

    .news-detail-content {
        text-align: justify;
    }
}