<div id="user-news-details">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav w-100">
			<h1 class="text-white px-3">
				<strong>
					Thành phố biển du lịch Đà nẵng mưa lớn - Đường phố biến thành sông
				</strong>
			</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-white" style="width: 22%;"><router-link
							class="nav-item nav-link text-white" to="/news">
							Tin tức</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Chi tiết tin tức</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Contact Start -->
	<div class="container-xxl py-4">
		<div class="container">
			<div class="news-detail-header">
				<h5 class="font-weight-600 text-uppercase">
					Thành phố biển du lịch Đà nẵng mưa lớn - Đường phố biến thành sông
				</h5>
				<div class="row desc-news-detail">
					<div class="col-3 d-flex">
						<p class="m-0 p-0"><i class="bi bi-calendar-check pe-2"></i>Ngày đăng: </p>
						<p class="m-0 p-0 ps-2">01/12/2023</p>
					</div>
					<div class="col-1 d-flex">
						<p class="m-0 p-0"><i class="bi bi-eye pe-1"></i></p>
						<p class="m-0 p-0 ps-2">2001</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="news-detail-content py-1">
				Sự kết hợp hoàn hảo giữa nền văn hóa, lịch sử, thiên nhiên cùng con người. Chuyến du lịch Pháp - Thụy Sĩ
				- Ý hứa hẹn sẽ mang đến cho du khách thật nhiều những trải nghiệm thú vị. Bạn sẽ được tham quan kiến
				trúc cổ kính của những tòa lâu đài, đắm mình trong vẻ đẹp thơ mộng của dãy núi Alps hùng vĩ, hay chiêm
				ngưỡng vẻ đẹp như tranh vẽ của những tuyệt tác kiến trúc ven kênh đào ấn tượng…Tất tần tật những khám
				phá đặc sắc này đều sẽ có trong tour du lịch Pháp - Thụy Sĩ - Ý, còn ngần ngại gì mà không cùng Du Lịch
				Việt khám phá ngay nào!
				Tour du lịch Pháp - Thụy Sĩ - Ý luôn thu hút đông đảo du khách muốn khám phá trọn vẹn vẻ đẹp trời Âu. Từ
				những người yêu thích nghệ thuật và văn hóa cho đến những ai mong muốn được khám khám phá thiên nhiên
				tuyệt đẹp của vùng này đều mong muốn được một lần tham gia tour tham quan hấp dẫn này. Vậy tour Pháp -
				Thụy Sĩ - Ý thích hợp cho những ai?

				Người yêu nghệ thuật và thích tìm hiểu văn hóa: Tour du lịch này sẽ đưa bạn đến vùng đất Paris - thành
				phố nghệ thuật và thời trang của Pháp, nơi có rất nhiều bảo tàng nổi tiếng như Bảo tàng Louvre, Bảo tàng
				Orsay... Tại Ý, bạn sẽ có thể khám phá những di sản văn hóa và lịch sử tại Rome và Florence. Tại Thụy
				Sĩ, thành phố Zurich hứa hẹn sẽ mang đến cho bạn những trải nghiệm nghệ thuật và mua sắm cao cấp.

				Người yêu thiên nhiên: Thụy Sĩ nổi tiếng với cảnh quan núi non tuyệt đẹp như Quỹ đạo Chamonix-Mont-Blanc
				và các vùng núi Alps. Nếu là người yêu thích trượt tuyết, leo núi hoặc đi bộ đường dài thì tour Pháp -
				Thụy Sĩ - Ý chắc chắn sẽ là một sự lựa chọn lý tưởng. Cảnh quan tại Provence ở Pháp cũng đẹp và thích
				hợp cho việc tham gia các hoạt động ngoài trời.

				Người yêu ẩm thực: du lịch Pháp và Ý là hai trong những quốc gia nổi tiếng về ẩm thực. Du khách khi tham
				gia tour này có thể thử những món ngon địa phương như bánh mì, phô mai, và rượu vang tại Pháp, pasta và
				pizza tại Ý. Ngoài ra, Thụy Sĩ cũng rất nổi tiếng với socola và sữa hấp nên bạn có thể thỏa sức trải
				nghiệm.

				Người yêu lịch sử và khám phá các di sản: Tại Rome, khách du lịch có thể khám phá các di sản lịch sử như
				La Mã cổ đại, và ở Paris bạn sẽ được tham quan các công trình kiến trúc lịch sử lâu đời.

				Người muốn thư giãn và nghỉ ngơi: Tour Pháp - Thụy Sĩ - Ý là ba quốc gia đều có những vùng biển tuyệt
				đẹp, nơi mà khách du lịch Châu Âu có thể thư giãn và tận hưởng cảnh quan tuyệt đẹp của biển cả.
			</div>
		</div>
	</div>
	<!-- Contact End -->
</div>