@import '../../../assets/scss/common/var';

#order {

    // 
    table {
        thead th {
            text-align: center;
        }

        tr td,
        tr th {
            text-align: center;
        }
    }

    // 
    ul.pagination.pagination-md.justify-content-center {
        margin-bottom: 0 !important;
    }

    .pagination {
        li {
            margin: 0 !important;
        }
    }

    .book-trans {
        strong {
            color: $orange-price;
        }
    }

    .btn-disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}