<div id="user-profile">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Tài khoản của tôi</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Tài khoản của tôi</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Contact Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-5">
				<tour>Tài khoản của tôi</tour>
			</div>
		</div>
	</div>
	<!-- Contact End -->
</div>