<div id="user-profile">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Tài khoản của tôi</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Tài khoản của tôi</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Contact Start -->
	<div class="container-xxl py-4">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<!-- start: sidebar -->
					<div id="sidebar" class="active">
						<div class="sidebar-wrapper active">
							<div class="sidebar-menu">
								<ul class="menu">
									<li class="sidebar-item active " id="nav-user-info">
										<a class='sidebar-link' @click="handelNavSidebar(1)">
											<i class="bi bi-person-circle"></i>
											<span>Thông tin cá nhân</span>
										</a>
									</li>

									<li class="sidebar-item" id="nav-history-tour">
										<a class='sidebar-link'>
											<i class="bi bi-hourglass-split"></i>
											<span>Lịch sử đặt tour</span>
										</a>
										<ul class="submenu d-block">
											<li class="submenu-item " @click="handelNavSidebar(2)">
												<a>Chờ thanh toán</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(3)">
												<a>Chờ xác nhận</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(7)">
												<a>Chờ đặt phương tiện</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(4)">
												<a>Đánh giá tour đã hoàn thành</a>
											</li>
											<li class="submenu-item d-none" @click="handelNavSidebar(5)">
												<a>Tất cả</a>
											</li>
										</ul>
									</li>

									<li class="sidebar-item " id="nav-cancel-tour">
										<a class='sidebar-link' @click="handelNavSidebar(6)">
											<i class="bi bi-x-octagon"></i>
											<span>Chính sách huỷ tour</span>
										</a>
									</li>
								</ul>
							</div>
							<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
						</div>
					</div>
					<!-- end: sidebar -->
				</div>
				<div class="col-9">
					<div id="main-content">
						<div class="page-heading" id="user-info">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Thông tin cá nhân</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body d-flex">
										<div class="col-lg-4">
											<div class="card-body text-center">
												<img @click="addAvatar" :src="userDataUpdate.avatar_path" alt="avatar"
													class="rounded-circle img-fluid img-avt-user"
													style="width: 160px; height: 150px;">
												<input type="file" @change="uploadImg" id="avt-user-image"
													class="form-control d-none" />
												<h5 class="mt-3 font-weight-600">{{userDataUpdate.full_name}}</h5>
												<p class="text-muted mb-3">Khách hàng kim cương</p>
												<div class="d-flex justify-content-center">
													<thuan-button @click="onUpdateInfoUser" label="Cập nhật"
														classBtn="btn btn-success" />
												</div>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="card-body">
												<div class="row">
													<div class="col-6">
														<thuan-input v-model="userDataUpdate.full_name" type="text"
															id="fullName" :maxLength="50" :isRequired="true"
															label="Họ và tên" placeholder="Nhập họ và tên ..." />
													</div>
													<div class="col-6">
														<thuan-input v-model="userDataUpdate.email" type="text"
															id="email" :maxLength="50" :isRequired="true" label="Email"
															placeholder="Nhập email ..." />
													</div>
												</div>

												<div class="row">
													<div class="col-6">
														<thuan-input type="text" v-model="userDataUpdate.phone_number"
															id="phoneNumber" :maxLength="50" :isRequired="true"
															label="Số điện thoại"
															placeholder="Nhập số điện thoại ..." />
													</div>
													<div class="col-6">
														<thuan-select v-model="userDataUpdate.gender"
															:options="genderList" type="text" id="gender"
															label="Chọn giới tính" />
													</div>
												</div>
												<!-- <div class="row">
													<div class="col-6">
														<thuan-select label="Quận / Huyện" />
													</div>
													<div class="col-6">
														<thuan-select label="Phường / Xã" />
													</div>
												</div> -->
												<div class="row">
													<div class="col-12">
														<thuan-select :options="locationList"
															v-model="userDataUpdate.province_id" :isRequired="true"
															label="Tỉnh / Thành phố" />
													</div>
												</div>
												<div class="row">
													<div class="col-12">
														<thuan-input v-model="userDataUpdate.address" type="text"
															id="address" :maxLength="50" label="Địa chỉ"
															placeholder="Nhập địa chỉ ..." />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-for-pay">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ thanh toán</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<!-- <thuan-input label="Tìm kiếm" class="col-4" /> -->
										<table class="table table-striped" style="font-size: 90%;">
											<thead>
												<tr>
													<th class="align-middle text-center" scope="col">STT</th>
													<th class="align-middle" scope="col">Tên Tour</th>
													<th class="align-middle" scope="col">Ngày Đặt</th>
													<th class="align-middle" scope="col">Người Lớn</th>
													<th class="align-middle" scope="col">Trẻ Em</th>
													<th class="align-middle" scope="col">Em Bé</th>
													<th class="align-middle" scope="col">Tổng Tiền</th>
													<th class="align-middle" scope="col">Trạng Thái</th>
													<th class="align-middle text-center" scope="col">Huỷ Đơn</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="i in 3">
													<th class="align-middle text-center" scope="row">1</th>
													<td class="align-middle">Mark</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Đang xử lý</td>
													<td class="align-middle text-center">
														<button class="border-0" type="button"
															class="btn btn-danger btn-sm" data-bs-toggle="modal"
															data-bs-target="#CancelOrderTour">
															<i class="btn-sm bi bi-x-circle"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-confirmation">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ xác nhận</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<!-- <thuan-input label="Tìm kiếm" class="col-4" /> -->
										<table class="table table-striped" style="font-size: 90%;">
											<thead>
												<tr>
													<th class="align-middle text-center" scope="col">STT</th>
													<th class="align-middle" scope="col">Tên Tour</th>
													<th class="align-middle" scope="col">Ngày Đặt</th>
													<th class="align-middle" scope="col">Người Lớn</th>
													<th class="align-middle" scope="col">Trẻ Em</th>
													<th class="align-middle" scope="col">Em Bé</th>
													<th class="align-middle" scope="col">Tổng Tiền</th>
													<th class="align-middle" scope="col">Trạng Thái</th>
													<th class="align-middle text-center" scope="col">Huỷ Đơn</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="i in 4">
													<th class="align-middle text-center" scope="row">1</th>
													<td class="align-middle">Mark</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Đang xử lý</td>
													<td class="align-middle text-center">
														<button class="border-0" type="button"
															class="btn btn-danger btn-sm" data-bs-toggle="modal"
															data-bs-target="#CancelOrderTour">
															<i class="btn-sm bi bi-x-circle"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-vehicle">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ đặt phương tiện</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<!-- <thuan-input label="Tìm kiếm" class="col-4" /> -->
										<table class="table table-striped" style="font-size: 90%;">
											<thead>
												<th class="align-middle text-center" scope="col">STT</th>
												<th class="align-middle" scope="col">Tên Tour</th>
												<th class="align-middle" scope="col">Ngày Đặt</th>
												<th class="align-middle" scope="col">Người Lớn</th>
												<th class="align-middle" scope="col">Trẻ Em</th>
												<th class="align-middle" scope="col">Em Bé</th>
												<th class="align-middle" scope="col">Tổng Tiền</th>
												<th class="align-middle" scope="col">Trạng Thái</th>
												<th class="align-middle text-center" scope="col">Huỷ Đơn</th>
											</thead>
											<tbody>
												<tr v-for="i in 2">
													<th class="align-middle text-center" scope="row">1</th>
													<td class="align-middle">Mark</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Đang đặt vé máy bay</td>
													<td class="align-middle text-center">
														<button class="border-0" type="button"
															class="btn btn-danger btn-sm" data-bs-toggle="modal"
															data-bs-target="#CancelOrderTour">
															<i class="btn-sm bi bi-x-circle"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="rating-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Đánh giá tour du lịch đã hoàn thành</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<!-- <thuan-input label="Tìm kiếm" class="col-4" /> -->
										<table class="table table-striped" style="font-size: 90%;">
											<thead>
												<tr>
													<th class="align-middle text-center" scope="col">STT</th>
													<th class="align-middle" scope="col">Tên Tour</th>
													<th class="align-middle" scope="col">Ngày Đặt</th>
													<th class="align-middle" scope="col">Người Lớn</th>
													<th class="align-middle" scope="col">Trẻ Em</th>
													<th class="align-middle" scope="col">Em Bé</th>
													<th class="align-middle" scope="col">Tổng Tiền</th>
													<th class="align-middle text-center" scope="col">Đánh giá</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="i in 3">
													<th class="align-middle text-center" scope="row">1</th>
													<td class="align-middle">Mark</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">Otto</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle">@mdo</td>
													<td class="align-middle text-center">
														<button class="border-0" type="button"
															class="btn btn-success btn-sm" data-bs-toggle="modal"
															data-bs-target="#RatingGlobal">
															<i class=" bi bi-chat-heart"></i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="all-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Tất cả đơn đặt tour</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="cancel-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Chính sách huỷ tour du lịch</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">1. Trường hợp bị huỷ do chúng tôi</h6>
											<p>Nếu doanh nghiệp chúng tôi không thực hiện được chuyến du lịch thì phải
												báo ngay cho khách hàng biết và hoàn tiền lại toàn bộ số
												tiền khách hàng đã đóng trong vòng 3 ngày kể từ lúc việc thông báo hủy
												chuyến du lịch.</p>
										</div>
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">2. Trường hợp bị hủy bỏ do khách hàng
											</h6>
											<p class="m-0">- Sau khi đặt cọc đến 3 ngày trước ngày khởi hành: phí huỷ
												20% tiền tour.</p>
											<p class="m-0">- Huỷ tour 3 – 2 ngày trước ngày khởi hành: phí huỷ 30% tiền
												tour.</p>
											<p class="m-0">- Huỷ tour 24 tiếng trước ngày khởi hành: phí huỷ 50% tiền
												tour.</p>
											<p class="m-0">- Huỷ tour ngay trong ngày khởi hành: phí huỷ 100% tiền tour.
											</p>
											<p class="m-0">- Trường hợp quý khách đến trễ giờ máy bay khởi hành được
												tính là huỷ tour ngay trong ngày khởi hành: phí huỷ 100% tiền tour.</p>
											<p class="m-0">- Vé máy bay được xuất ngay sau khi quý khách đóng tiền và có
												xác nhận sự chính xác về họ, tên, ngày tháng năm sinh,… của Quý khách.
												Mọi sự thay đổi về ngày giờ hay huỷ vé, Quý khách vui lòng chịu chi phí
												theo quy định của hãng hàng không.</p>
											<p>- Phí hoàn tiền khi huỷ tour sẽ được được trả lại sau 1 tháng kể từ ngày
												đăng ký hoặc huỷ tour.</p>
										</div>
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">3. Trường hợp bất khả kháng</h6>
											<p>Nếu chương trình du lịch bị hủy bỏ hoặc thay đổi bởi một trong hai bên vì
												một lý do bất khả kháng (hỏa hoạn, thời tiết, tai nạn, thiên tai, chiến
												tranh, hoãn và hủy chuyến của các phương tiện vận chuyển công cộng…),
												thì hai bên sẽ không chịu bất kỳ nghĩa vụ bồi hoàn các tổn thất đã xảy
												ra và không chịu bất kỳ trách nhiệm pháp lý nào. Tuy nhiên mỗi bên có
												trách nhiệm cố gắng tối đa để giúp đỡ bên bị thiệt hại nhằm giảm thiểu
												các tổn thất gây ra vì lý do bất khả kháng.</p>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact End -->
	<!-- modal rating the tour for user page -->
	<div class="modal fade" id="RatingGlobal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase" id="exampleModalLabel">Đánh giá tour du lịch</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 class="modal-title text-center mb-2 text-uppercase font-weight-600" id="exampleModalLabel">Tour
						mùa đông 2023 - Khám phá Hạ
						Long Bay</h6>
					<div class="rating-tour d-flex justify-content-center my-3">
						<star-rating v-model:rating="rating" v-bind:increment="1" inactive-color="gainsboro"
							active-color="#ff891e" v-bind:star-size="40">
						</star-rating>
					</div>
					<div class="row">
						<div class="col-12">
							<thuan-input label="Người đánh giá" :isDisabled="true" :isRequired="true" />
						</div>
					</div>
					<thuan-textarea label="Nội dung đánh giá" :rowsArea="3" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
					<button type="button" class="btn btn-primary bg-btn-primary-custom">Lưu đánh giá</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal cancel order the tour for user page -->
	<div class="modal fade" id="CancelOrderTour" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase" id="exampleModalLabel">Xác nhận huỷ đơn đặt tour du lịch</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 class="modal-title text-center mb-2 text-uppercase font-weight-600" id="exampleModalLabel">Tour
						mùa đông 2023 - Khám phá Hạ
						Long Bay</h6>
					<div class="cancel-order-tour my-3">
						<div class="row">
							<div class="col-12">
								<thuan-input label="Số tiền bạn đã thanh toán" :isDisabled="true" v-model="money" />
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-12 m-0">
								<h6>Dựa theo chính sách huỷ Tour của công ty chúng tôi, số tiền hoàn của bạn được tính
									vì lý do</h6>
								<p class=" text-reason-cancel-order-tour">- Huỷ tour 3 – 2 ngày trước ngày khởi hành:
									phí huỷ 30% tiền tour.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12 m-0">
								<thuan-input label="Số tiền cần hoàn lại" :isDisabled="true" v-model="money" />
							</div>
						</div>
						<div class="row pt-1">
							<div class="col-5">
								<h6>Chọn phương thức hoàn tiền:</h6>
							</div>
							<div class="col-7 d-flex">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault1">
									<label class="form-check-label" for="flexRadioDefault1">
										Nhận tiền tại quầy giao dịch
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault2" checked>
									<label class="form-check-label" for="flexRadioDefault2">
										Chuyển ngược vào tài khoản thanh toán
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
					<button type="button" class="btn btn-primary bg-btn-primary-custom">Huỷ đơn</button>
				</div>
			</div>
		</div>
	</div>
</div>