<div id="user-profile">
	<!-- start breadcrumb -->
	<div class="background-image container-fluid text-center position-relative d-flex justify-content-center">
		<div class="breadcrumb-nav">
			<h1 class="text-white"><strong>Tài khoản của tôi</strong></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item text-white"><router-link class="nav-item nav-link text-white" to="/">
							Trang chủ</router-link></li>
					<li class="breadcrumb-item text-primary" aria-current="page">Tài khoản của tôi</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Contact Start -->
	<div class="container-xxl py-4">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<!-- start: sidebar -->
					<div id="sidebar" class="active">
						<div class="sidebar-wrapper active">
							<div class="sidebar-menu">
								<ul class="menu">
									<li class="sidebar-item active " id="nav-user-info">
										<a class='sidebar-link' @click="handelNavSidebar(1)">
											<i class="bi bi-person-circle"></i>
											<span>Thông tin cá nhân</span>
										</a>
									</li>

									<li class="sidebar-item" id="nav-history-tour">
										<a class='sidebar-link'>
											<i class="bi bi-hourglass-split"></i>
											<span>Lịch sử đặt tour</span>
										</a>
										<ul class="submenu d-block">
											<li class="submenu-item " @click="handelNavSidebar(2)">
												<a>Chờ thanh toán</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(3)">
												<a>Chờ xác nhận</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(7)">
												<a>Chờ đặt phương tiện</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(4)">
												<a>Đánh giá tour đã hoàn thành</a>
											</li>
											<li class="submenu-item " @click="handelNavSidebar(5)">
												<a>Tất cả</a>
											</li>
										</ul>
									</li> 

									<li class="sidebar-item " id="nav-cancel-tour">
										<a class='sidebar-link' @click="handelNavSidebar(6)">
											<i class="bi bi-x-octagon"></i>
											<span>Chính sách huỷ tour</span>
										</a>
									</li>
								</ul>
							</div>
							<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
						</div>
					</div>
					<!-- end: sidebar -->
				</div>
				<div class="col-9">
					<div id="main-content">
						<div class="page-heading" id="user-info">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Thông tin cá nhân</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body d-flex">
										<div class="col-lg-4">
											<div class="card-body text-center">
												<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
													alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
												<h5 class="mt-3 font-weight-600">Nguyễn Công Thuận</h5>
												<p class="text-muted mb-3">Khách hàng kim cương</p>
												<div class="d-flex justify-content-center">
													<thuan-button label="Cập nhật" classBtn="btn btn-success" />
												</div>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="card-body">
												<div class="row">
													<div class="col-6">
														<thuan-input type="text" id="fullName" :maxLength="50"
															:isRequired="true" label="Họ và tên"
															placeholder="Nhập họ và tên ..." />
													</div>
													<div class="col-6">
														<thuan-input type="text" id="email" :maxLength="50"
															:isRequired="true" label="Email"
															placeholder="Nhập email ..." />
													</div>
												</div>

												<div class="row">
													<div class="col-6">
														<thuan-input type="text" id="phoneNumber" :maxLength="50"
															:isRequired="true" label="Số điện thoại"
															placeholder="Nhập số điện thoại ..." />
													</div>
													<div class="col-6">
														<thuan-select label="Tỉnh / Thành phố" />
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<thuan-select label="Quận / Huyện" />
													</div>
													<div class="col-6">
														<thuan-select label="Phường / Xã" />
													</div>
												</div>
												<div class="row">
													<div class="col-12">
														<thuan-input type="text" id="address" :maxLength="50"
															label="Địa chỉ" placeholder="Nhập địa chỉ ..." />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-for-pay">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ thanh toán</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-confirmation">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ xác nhận</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="wait-vehicle">
							<div class="page-title mb-2">
								<div class="row">
									<div class="col-md-6 order-md-1 order-last">
										<h4 class="font-weight-600 m-0">Đơn chờ đặt phương tiện</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="rating-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Đánh giá tour du lịch đã hoàn thành</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="all-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Tất cả đơn đặt tour</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<p class="m-0">Nội dung ở đây</p>
									</div>
								</div>
							</section>
						</div>
						<div class="page-heading d-none" id="cancel-tour">
							<div class="page-title mb-2">
								<div class="row">
									<div class="order-last">
										<h4 class="font-weight-600 m-0">Chính sách huỷ tour du lịch</h4>
									</div>
								</div>
							</div>
							<section class="section">
								<div class="card">
									<div class="card-body">
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">1. Trường hợp bị huỷ do chúng tôi</h6>
											<p>Nếu doanh nghiệp chúng tôi không thực hiện được chuyến du lịch thì phải
												báo ngay cho khách hàng biết và hoàn tiền lại toàn bộ số
												tiền khách hàng đã đóng trong vòng 3 ngày kể từ lúc việc thông báo hủy
												chuyến du lịch.</p>
										</div>
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">2. Trường hợp bị hủy bỏ do khách hàng
											</h6>
											<p class="m-0">- Sau khi đặt cọc đến 3 ngày trước ngày khởi hành: phí huỷ
												20% tiền tour.</p>
											<p class="m-0">- Huỷ tour 3 – 2 ngày trước ngày khởi hành: phí huỷ 30% tiền
												tour.</p>
											<p class="m-0">- Huỷ tour 24 tiếng trước ngày khởi hành: phí huỷ 50% tiền
												tour.</p>
											<p class="m-0">- Huỷ tour ngay trong ngày khởi hành: phí huỷ 100% tiền tour.
											</p>
											<p class="m-0">- Trường hợp quý khách đến trễ giờ máy bay khởi hành được
												tính là huỷ tour ngay trong ngày khởi hành: phí huỷ 100% tiền tour.</p>
											<p class="m-0">- Vé máy bay được xuất ngay sau khi quý khách đóng tiền và có
												xác nhận sự chính xác về họ, tên, ngày tháng năm sinh,… của Quý khách.
												Mọi sự thay đổi về ngày giờ hay huỷ vé, Quý khách vui lòng chịu chi phí
												theo quy định của hãng hàng không.</p>
											<p>- Phí hoàn tiền khi huỷ tour sẽ được được trả lại sau 1 tháng kể từ ngày
												đăng ký hoặc huỷ tour.</p>
										</div>
										<div class="cancel-tour-block-text">
											<h6 class="text-cancel-tour-title">3. Trường hợp bất khả kháng</h6>
											<p>Nếu chương trình du lịch bị hủy bỏ hoặc thay đổi bởi một trong hai bên vì
												một lý do bất khả kháng (hỏa hoạn, thời tiết, tai nạn, thiên tai, chiến
												tranh, hoãn và hủy chuyến của các phương tiện vận chuyển công cộng…),
												thì hai bên sẽ không chịu bất kỳ nghĩa vụ bồi hoàn các tổn thất đã xảy
												ra và không chịu bất kỳ trách nhiệm pháp lý nào. Tuy nhiên mỗi bên có
												trách nhiệm cố gắng tối đa để giúp đỡ bên bị thiệt hại nhằm giảm thiểu
												các tổn thất gây ra vì lý do bất khả kháng.</p>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact End -->
</div>