<div id="new">
    <!-- step -->
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <thuan-button @click="switchMode(1)" id="btn-btnList" label=" Liệt kê Cẩm nang & tin tức"
                        class="bi bi-newspaper" />
                </div>
                <div class="col-3 p-0 d-flex justify-content-start">
                    <button @click="switchMode(2)" id="btn-btnUpdate" type="button"
                        class="btn btn-success bi bi-plus-circle-fill">&ensp;Thêm
                        mới</button>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-end">
            <button :disabled="isDisableSaveBtn" @click="doSaveNews" id="btn-save-action" type="button"
                class="btn btn-primary bi bi-floppy-fill">&ensp;Lưu thay đổi</button>
        </div>
    </div>
    <hr>
    <div id="mode-list">
        <!-- search -->
        <div class="row mb-2 d-flex justify-content-between">
            <div class="col-8">
                <div class="row d-flex">
                    <div class="col-2 d-flex align-items-center">
                        <p class="m-0">Hiển thị</p>
                    </div>
                    <div class="col-4">
                        <select @change="doSearchNews" v-model="conditions.page_size" class="form-select"
                            aria-label="Default select example">
                            <option value="4" selected>4 dòng dữ liệu</option>
                            <option value="8">8 dòng dữ liệu</option>
                            <option value="16">16 dòng dữ liệu</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input @change="doSearchNews" v-model="conditions.title" type="text" class="form-control"
                        placeholder="Nhập thông tin tìm kiếm ...">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col-12">
                <table style="font-size: 90%;" class="table table-striped mt-1">
                    <thead>
                        <tr>
                            <th class="align-middle text-center" style="width: 3%;" scope="col">STT</th>
                            <th class="align-middle" scope="col">Tên Bài Viết</th>
                            <th class="align-middle" scope="col" style="width: 15%;">Tác Giả</th>
                            <th class="align-middle" scope="col" style="width: 10%;">Lượt Xem</th>
                            <th class="align-middle" scope="col" style="width: 10%;">Trạng Thái</th>
                            <th class="align-middle" scope="col" style="width: 15%;">Loại Bài Đăng</th>
                            <th class="align-middle text-center" scope="col" style="width: 10%;">Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(news, index) in dataTable" :key="index">
                            <th class="align-middle text-center" scope="row">{{index + 1}}</th>
                            <td class="align-middle">{{news.title}}</td>
                            <td class="align-middle">{{news.author}}</td>
                            <td class="align-middle">{{news.view_count ?? 0}}</td>
                            <td class="align-middle">{{news.status}}</td>
                            <td class="align-middle">{{news.type}}</td>
                            <td class="align-middle" style="width: 15%;">
                                <button type="button" class="btn btn-primary btn-sm bi bi-pencil-square me-2"></button>
                                <button @click="doDelete(news.title, news.id)" type="button" class="btn btn-danger btn-sm bi bi-trash"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- pagination -->
                <template v-if="true">
                    <div>
                        <div class="w-100 row m-0 p-0 d-flex justify-content-center">
                            <b-pagination v-model="conditions.page_number" :total-rows="totalRows" align="center"
                                :per-page="4"></b-pagination>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <!-- update -->
    <div class="row m-0 d-none" id="mode-update">
        <div class="row m-0 p-0">
            <thuan-input v-model="data.title" :isRequired="true" label="Tiêu đề bài viết"
                placeholder="Nhập tiêu đề bài viết của bạn ..." />
        </div>
        <div class="row m-0 p-0">
            <div class="col-6">
                <thuan-input v-model="authorName" :isDisabled="true" :isRequired="true" label="Tác giả"
                    placeholder="" />
            </div>
            <div class="col-6">
                <label class="label-multiple-select">Chọn loại bài đăng<span class="text-danger ps-1"><i
                            class="bi bi-exclamation-circle"></i></span></label>
                <select v-model="data.type" class="form-select" aria-label="Default select example">
                    <option value="Cẩm nang" selected>Cẩm nang du lịch</option>
                    <option value="Tin tức">Tin tức du lịch</option>
                </select>
            </div>
        </div>
        <div class="row m-0">
            <label class="label-multiple-select p-0">Chọn trạng thái bài đăng<span class="text-danger ps-1"><i
                        class="bi bi-exclamation-circle"></i></span></label>
            <select v-model="data.status" class="form-select" aria-label="Default select example">
                <option value="Đã xuất bản" selected>Xuất bản</option>
                <option value="Tạm thời ẩn">Tạm thời ẩn</option>
            </select>
        </div>
        <div class="row m-0 p-0 mt-2">
            <label class="label-multiple-select">Nội dung bài đăng<span class="text-danger ps-1"><i
                        class="bi bi-exclamation-circle"></i></span></label>
            <div class="col-12">
                <CKEditorCustom v-model="data.body" class="w-100" v-if="showEditor" />
            </div>
        </div>
    </div>
</div>