<div class="form-group">
    <label :for="id">{{label}}<span v-if="isRequired" class="text-danger ps-1"><i
                class="bi bi-exclamation-circle"></i></span></label>
    <input class="form-control" :id="id" :type="type"
        :class="(inputClass ? inputClass : '') + (isRequired ? ' required' : '')" :placeholder="placeholder"
        :value="Value" :required="isRequired" :disabled="isDisabled" :readonly="isReadonly" :maxlength="maxLength"
        :style="style" ref="input" @focus="focusInput" @blur="blurInput" @change="updateInput" @keydown="inputKeydown"
        @keyup="inputKeyup">
</div>