<b-modal centered v-model="showModal" hide-header hide-footer :no-close-on-backdrop="true">
    <div class="content">
        <h5 class="mb-0 text-center" v-if="showTitle"><span v-html="modalMessage.title"></span></h5>
        <br v-if="showTitle">
        <p class="mb-0 text-center" v-html="modalMessage.content"></p>
        <br v-if="showTitle">
    </div>
    <div class="modal-footer flex-nowrap p-0">
        <button type="button" class="btn btn-link fs-6 text-decoration-none col-6" @click="onClickOk"
            v-if="showCancel"><strong>{{modalMessage.okText}}</strong></button>
        <button type="button" class="btn btn-link fs-6 text-decoration-none col-12" @click="onClickOk"
            v-if="!showCancel"><strong>{{modalMessage.okText}}</strong></button>
        <button type="button" class="btn btn-link fs-6 text-decoration-none col-6" @click="onClickCancel"
            v-if="showCancel">{{modalMessage.cancelText}}</button>
    </div>
</b-modal>